# Node modules
node_modules/
**/node_modules/

# Environment variables & secrets
.env
**/.env
.env.local
.env.*.local
Untitled
**/Untitled

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# System & OS files
.DS_Store
Thumbs.db
*.swp
*.swo

# Editor folders
.vscode/
.idea/

# Build & Deploy
dist/
build/
.firebase/